@model ArenaAlbionuPoradnik.Models.Place
<div class="row">
    <div class="">
        <h3>@Model.PlaceName</h3>
        <hr></hr>
    </div>
</div>
<div class="row">
    <div>
        <p>@Model.Description</p>
    </div>
    <div>
        @if (Model.Production != null && Model.Production.Count > 0)
        {
            var text = String.Join(",", Model.Production.ToList().Select(s => s.Name).ToArray());
            <text>
                @text
            </text>
        }
</div>
</div>