<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings>
  <add name="connectionString"  connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Gabriel Pająk\documents\visual studio 2015\Projects\ArenaAlbionuPoradnik\ArenaAlbionuPoradnik\App_Data\AADatabase.mdf;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"></add>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ArenaAlbionuPoradnik-20171004081153.mdf;Initial Catalog=aspnet-ArenaAlbionuPoradnik-20171004081153;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="AADatabaseEntities" connectionString="metadata=res://*/Models.Kingdom.csdl|res://*/Models.Kingdom.ssdl|res://*/Models.Kingdom.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\AADatabase.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
