* { font-family: Roboto, Arial, sans-serif !important;}

h1, h2, h3
{
    margin: 15px;
}

html
{
    font-weight: 400;
}

i
{
    font-family: 'Material Icons', Tahoma, Geneva, Verdana, sans-serif !important;
}

.menu-icon
{
    display:inline;
    margin-left: 10px;
    margin-right: 10px;
}

.menu-item
{
    display:inline;
}

body {
    background-color: aliceblue;
}

.color-main
{
    background-color: #37474F;
}

.location-content
{
    padding: 10px 0px 10px 20px;
}

.location-data
{
    padding: 10px 20px 10px 40px;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content 
{
    height: 1500px;
    margin-left: 0px;
    margin-right: 0px;

}

.locations-row
{
    margin-left: 80px;
    margin-right: 80px;
}

.main-container
{
    margin-top: 0px;
    margin-left: 0px;
}

.list-item:hover {
  background-color: #263238;
}

.collapsable-area-gray:hover {
  background-color: #5F5F5F;
}

.collapsable-content
{
    padding: 10px, 10px, 10px, 10px;
}

.row-no-margin
{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;

}

.item-table
{
    text-align: center;  
}

.location-description
{
    width: 100%;
    margin-right: 80px;
    margin-top: 40px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 20px 20px 20px 20px;
    font-family: Roboto, Arial, sans-serif;
}

.header
{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding-left: 40px;
    color:rgba(255, 255, 255, 0.56);
}

.no-border
{
    border-top-right-radius: 0px !important; 
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: #37474F;
    border: none;
    color:rgba(255, 255, 255, 0.56);
}

.location-panel
{
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-top-right-radius: 0px !important; 
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

}
    
/* Set gray background color and 100% height */
.sidenav {
    background-color: #263238;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
    
/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.max-width
{
    min-width: 100%;
}

.no-padding
{
    padding: 0px 0px 0px 0px;
}

.no-margin
{
    margin: 0px 0px 0px 0px;
}

.logo-div
{
    background-color: #263238;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-nav
{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}
    
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height: auto;} 
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    min-height: 100%;
    height: 100%;
}

.main-content
{
    min-height: 100%;
    background-color: #EFEFEF;
}

.form-div
{
    padding: 20px 20px 20px 20px;
    background-color: #264151;
    margin-top: 0px;
}

.logo-text
{
    color: ghostwhite;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main-body
{
    min-height: 100%;
    height: 100%;
}

/* For login panel */
* { box-sizing:border-box; }

body {
	background: #eee;
  -webkit-font-smoothing: antialiased;
}

hgroup { 
	text-align:center;
	margin-top: 4em;
}

h1, h3 { font-weight: 300; }

h1 { color: #636363; }

h3 { color: #4a89dc; }

form {
	width: 380px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */

label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label {
	top: -20px;
  transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #37474F;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #357bd8; }


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

footer { text-align: center; }

footer p {
	color: #888;
	font-size: 13px;
	letter-spacing: .4px;
}

footer a {
	color: #4a89dc;
	text-decoration: none;
	transition: all .2s ease;
}

footer a:hover {
	color: #666;
	text-decoration: underline;
}

footer img {
	width: 80px;
	transition: all .2s ease;
}

footer img:hover { opacity: .83; }

footer img:focus , footer a:focus { outline: none; }
